<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Кхалисификатор</title>
</head>
<body>
	<div style="text-align: center" layout:fragment="content">Fake
		content</div>
	<br />
	<div style="text-align: center">
		<h7>Кхалифицировать фразу:</h7>
		<form action="/khaleesificate" method="GET" id="khaleesi_form">
			<textarea form="khaleesi_form" name="input" rows="10" cols="200" />
			<br /> <input type="submit" value="Кхалифисицировать" />
		</form>
	</div>
	<div>
		<a
			href="khaleesificate?input=Позвольте+мне+сражаться+за+Вас%2C+Кхалисси!">Пример</a>
	</div>
</body>
</html>